[Desktop Entry]
Encoding=UTF-8
Name=FXRate
Comment=FXRate P2P Cryptocurrency
Exec=fxrate-qt %u
Terminal=false
Type=Application
Icon=fxrate128
MimeType=x-scheme-handler/fxrate;
Categories=Office;Finance;
Name[en_US]=fxrate-qt.desktop
